/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.
Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main{
  margin-bottom: 100px;
}

caption{
  margin:5px 0px;
}

/* If you decide to uncomment this code, comment it back for the Autograder. */
/* tr{
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
} */

/*END STARTER CODE*/

body{
  /*background: #DDDDDD center/cover url('images/pigeon-background.JPEG') no-repeat;*/
  background-image: url('../images/pigeon-background.JPEG');
  background-repeat: no-repeat; 
  background-color: #DDDDDD; 
  background-size: cover; 
  background-position: center; 
  color: #000000;
  font-size: 16px;
  margin: 1.2em;
  font-family: 'Andika', sans-serif;
}
  /*Req 1*/


h1{
  color: #c12258;
  font-size: 2em;
  min-width: 32px;
  text-align: center;
  line-height: 2;


  /*Req 2*/
}

p{
  padding-top: 15px;
  
}

a{
  font-size: 16px;
  color:#B21F50;
  text-decoration-style: wavy;
}

table{
  display: table;
  border-radius: 50px;
  border: 5px solid #000000;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  border-collapse: separate;
}
tbody tr:last-child td:last-child{
  border-bottom-right-radius: 50px;
}

tbody tr:last-child th:first-child{
  border-bottom-left-radius: 50px;
}

thead tr:first-child th:first-child{
  border-top-left-radius: 50px;
}

thead tr:first-child th:last-child{
  border-top-right-radius: 50px;
}
 
tr:nth-child(odd){
  background-color: transparent;
}
tr:nth-child(even){
  background-color: #D1D1D1;

}
tr:hover{
  background-color:rgba(126, 8, 37, 0.25);
}
 
th{
   border-top: solid #000000 1px;
   width: 125px;
   padding:10px;

  }
 td{
   border-top: solid #000000 2px;
   text-align: center;


 }

/*Req 5*/
/*Add selector and rule here*/



 
 



.colhead{
  min-width: 125px;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #7e0825;



}

.rowhead{
  text-align: center;
  border-top: solid black 2px;
  border-right: solid black 2px;
  padding: 10px;
  

}


:focus{
  border: 3px dashed #417243;
  }



/* I gave you the selector, but not the property-value pair. 
You can use Inspect Element or your editor to find selectors. */







/*Add selectors and rules here*/



footer{
  background-color: #000000;
  text-align:center;
  width:100%;
  color: #FFFFFF;
  min-height: 75px;
  bottom: 0px;
  left:0px;
  position: fixed;


}
